@use '../../app/variables';

.card-large {
  display: flex;
  background-color: variables.$color-grey-light-2;
  border-radius: 3px;
  padding: 2rem;
  color: variables.$color-grey-dark-3;

  &__text-content {
    flex: 1;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__id {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &__price {
    font-size: 2.5rem;
  }

  &__about {
    flex: 1;
    font-size: 2rem;
  }

  &__quantity {
    font-size: 1.2rem;
  }

  &__button-box {
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 20rem;
    height: 20rem;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
