.pagination {
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  user-select: none;
  align-self: end;

  &__item {
    padding: 0 1.2rem;
    height: 3.2rem;
    text-align: center;
    margin: auto 0.4rem;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 100%;
    line-height: 1.43;
    font-size: 1.3rem;
    min-width: 3.2rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    &.disabled {
      pointer-events: none;

      .pagination__arrow::before {
        border-right: 0.12rem solid rgba(0, 0, 0, 0.43);
        border-top: 0.12rem solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  &__dots:hover {
    background-color: transparent;
    cursor: default;
  }

  &__arrow {
    &::before {
      position: relative;
      content: '';
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-right: 0.12rem solid rgba(0, 0, 0, 0.87);
      border-top: 0.12rem solid rgba(0, 0, 0, 0.87);
    }

    &--left {
      transform: rotate(-135deg);
    }

    &--right {
      transform: rotate(45deg);
    }
  }
}
